<hr>
<div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="previous(this.empDetails)" style="display:inline-block">Previous</button>
    &nbsp;&nbsp;
    <button class="btn btn-primary" (click)="next(this.empDetails)" style="display:inline-block" >Next</button>
    &nbsp;&nbsp;
    <button class="btn btn-primary" (click)="del(this.empDetails)" style="display:inline-block" >Delete</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="add(this.empDetails)" style="display:inline-block">Add</button>



</div>
<div *ngIf="trigger">
  <app-inputform></app-inputform>
    
</div>



