<div >
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="previous()" style="display:inline-block">Previous</button>
    &nbsp;&nbsp;
    <button class="btn btn-primary" (click)="next()" style="display:inline-block" >Next</button>
</div>

<!-- <div *ngIf="empDetails !== undefined" >
    <p>{{empDetails.employe_name}}</p>
    <p>{{empDetails.employe_id}}</p>
    <p>{{empDetails.employe_age}}</p>
</div> -->




<ul>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li *ngFor="let employe of getemplist" style="cursor:pointer;">{{employe.Name}}</li>
</ul>