<div >
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="previous(this.empDetails)" style="display:inline-block">Previous</button>
    &nbsp;&nbsp;
    <button class="btn btn-primary" (click)="next(this.empDetails)" style="display:inline-block" >Next</button>
</div>
{{this.index}}
<!-- <div *ngIf="newemp !== undefined" >
    &nbsp;&nbsp;&nbsp;&nbsp;
    <h4>
        {{newemp.Name}}
        <br>
        {{newemp.ID}}
        <br>
        {{newemp.Address}}
    </h4>
</div> -->






<!-- <ul>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li *ngFor="let employe of employees" style="cursor:pointer;">{{employe.Name}}</li>
</ul> -->


